#jNotify {
  background: #d8e6fc url(../info.png) no-repeat 15px center;
  border: 1px solid #a7c3f0;
  border-radius: 5px;
  color: #35517c;
  margin: 15px 0 0 0;
  padding: 10px;
  padding-left: 50px;
  position: absolute;
  z-index: 9999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#jNotify a {
  color: #35517c!important;
  text-decoration: none;
}

#jSuccess {
  background: #e6efc2 url(../success.png) no-repeat 15px center;
  border: 1px solid #c6d880;
  color: #264409;
  margin: 15px;
  padding: 10px;
  padding-left: 50px;
  position: absolute;
  z-index: 9999;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

#jSuccess a {
  color: #264409!important;
  text-decoration: none;
}

#jError {
  background: #fbe3e4 url(../error.png) no-repeat 15px center;
  border: 1px solid #fbc2c4;
  border-radius: 5px;
  color: #8a1f11;
  margin: 15px;
  padding: 10px;
  padding-left: 50px;
  position: absolute;
  z-index: 9999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#jError a {
  color: #8a1f11!important;
  text-decoration: none;
}

#jOverlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
}
